# debug level (severe,warning,info,config,fine,finer,finest)
general.debug=config
general.logfile=log/backend-mongo

logger.groups=["mongodb"]

# Primary Group (for reading, empty=first group in list)
logger.primary=

# databases
mongodb.run  =true

# ZeroMQ collector sub(scribe) or pull
frontend.zeromq.qtype=sub
frontend.zeromq.endpoint=tcp://localhost:5558
frontend.zeromq.iothreads=1

# default writer threads
logger.threads=2

# default flush interval (ms)
logger.flushinterval=1000

# default blocksize 
logger.blocksize=1000

# max memory blocks (-1...infinite, 0...buffer to disk only)
logger.maxmemblocks=10

# buffer to disk 1/0
logger.buffertodisk=1
logger.bufferpath=data/backend
logger.bufferclass=at.rocworks.oa4j.logger.queues.BufferQueueBerkeleyDB

# statistics every X seconds (0=off)
logger.statistics=10

# group type Robin|Pinned
logger.distribution=Pinned

# redundancy
logger.redundancy=false

# MongoDB
mongodb.name=mongodb
mongodb.servers=1
mongodb.server.0.type=at.rocworks.oa4j.logger.dbs.NoSQLMongoDB
mongodb.server.0.url=mongodb://macmini:27017/
mongodb.server.0.db=pvss
