# debug level (severe,warning,info,config,fine,finer,finest)
general.debug=config
general.logfile=log/backend-kafka

logger.groups=["kafka"]

# Primary Group (for reading, empty=first group in list)
logger.primary=

# databases
kafka.run=true

# ZeroMQ collector sub(scribe) or pull
frontend.zeromq.qtype=sub
frontend.zeromq.endpoint=tcp://localhost:5558
frontend.zeromq.iothreads=1

# default writer threads
logger.threads=1

# default flush interval (ms)
logger.flushinterval=2000

# default blocksize 
logger.blocksize=1000

# max memory blocks (-1...infinite, 0...buffer to disk only)
logger.maxmemblocks=10

# buffer to disk 1/0
logger.buffertodisk=1
logger.bufferpath=data/backend
logger.bufferclass=at.rocworks.oa4j.logger.queues.BufferQueueBerkeleyDB

# statistics every X seconds (0=off)
logger.statistics=10

# group type Robin|Pinned
logger.distribution=Pinned

# redundancy
logger.redundancy=false

# Kafka
kafka.name=kafka
kafka.servers=1
kafka.server.0.type=at.rocworks.oa4j.logger.dbs.NoSQLKafka
kafka.server.0.broker=hadoop-node2:9092,hadoop-node3:9092,hadoop-node4:9092
kafka.server.0.topic=smh
kafka.server.0.threads=1

