# debug level (severe,warning,info,config,fine,finer,finest)
general.debug=config
general.logfile=log/backend-elastic

logger.groups=["elastic"]

# Primary Group (for reading, empty=first group in list)
logger.primary=

# databases
elastic.run   =true

# ZeroMQ collector sub(scribe) or pull
frontend.zeromq.qtype=sub
frontend.zeromq.endpoint=tcp://localhost:5558
frontend.zeromq.iothreads=1

# default writer threads
logger.threads=1

# default flush interval (ms)
logger.flushinterval=60000

# default blocksize 
logger.blocksize=4000

# max memory blocks (-1...infinite, 0...buffer to disk only)
logger.maxmemblocks=10

# buffer to disk 1/0
logger.buffertodisk=1
logger.bufferpath=data/backend
logger.bufferclass=at.rocworks.oa4j.logger.queues.BufferQueueBerkeleyDB

# statistics every X seconds (0=off)
logger.statistics=60

# group type Robin|Pinned
logger.distribution=Pinned

# redundancy
logger.redundancy=false

# Elastic Search
elastic.name=elastic
elastic.servers=1
elastic.server.0.type=at.rocworks.oa4j.logger.dbs.NoSQLElasticsearch
elastic.server.0.cluster.name=elasticsearch
elastic.server.0.cluster.nodes=hadoop-node2,hadoop-node3,hadoop-node4
elastic.server.0.index=scada
