# debug level (severe,warning,info,config,fine,finer,finest)
general.debug=config
general.logfile=log/backend-influx

logger.groups=["influxdb"]

# Primary Group (for reading, empty=first group in list)
logger.primary=

# databases
influxdb.run  =true

# ZeroMQ collector sub(scribe) or pull
frontend.zeromq.qtype=sub
frontend.zeromq.endpoint=tcp://localhost:5558
frontend.zeromq.iothreads=1

# default writer threads
logger.threads=1

# default flush interval (ms)
logger.flushinterval=2000

# default blocksize 
logger.blocksize=1000

# max memory blocks (-1...infinite, 0...buffer to disk only)
logger.maxmemblocks=10

# buffer to disk 1/0
logger.buffertodisk=1
logger.bufferpath=data/backend
logger.bufferclass=at.rocworks.oa4j.logger.queues.BufferQueueBerkeleyDB

# statistics every X seconds (0=off)
logger.statistics=10

# group type Robin|Pinned
logger.distribution=Pinned

# redundancy
logger.redundancy=false

# InfluxDB
influxdb.name=influxdb
influxdb.servers=1
influxdb.server.0.type=at.rocworks.oa4j.logger.dbs.NoSQLInfluxDB
influxdb.server.0.db=pvss
influxdb.server.0.url=http://influxdb1:8086
