# debug level (severe,warning,info,config,fine,finer,finest)
general.debug=config
general.logfile=log/frontend

logger.groups=["zeromq"]

zeromq.run=true

# WinCC OA API Connect
frontend.winccoa.filter=false
frontend.winccoa.internaldps=true
frontend.winccoa.alerts=false

# pre collector bulk size (applies only to WinCC OA native API, 0...no bulk)
frontend.winccoa.bulksize=0

# WinCC OA Query Connect
frontend.winccoa.query.0=FROM '*.**'
#frontend.winccoa.query.0=,'_general.._int_01' FROM '*.Value' WHERE '_general.._int_01'==1

# common configurations
logger.threads=1

# default flush interval (ms)
logger.flushinterval=1000

# default blocksize 
logger.blocksize=2048

# max memory blocks (-1...infinite, 0...buffer to disk immediately)
logger.maxmemblocks=8

# buffer to disk 1/0
#logger.buffertodisk=0
#logger.bufferpath=db/buffer/frontend
#logger.bufferclass=at.rocworks.oa4j.logger.queues.BufferQueueFlatfiles
#logger.bufferclass=at.rocworks.oa4j.logger.queues.BufferQueueBerkeleyDB

# statistics every X seconds (0=off)
logger.statistics=10
logger.statistics.pretty=false

# group type Robin|Pinned
logger.distribution=Robin

# redundancy
logger.redundancy=false

# ZeroMQ
zeromq.name=zeromq
zeromq.servers=1
zeromq.server.0.type=at.rocworks.oa4j.logger.base.NoSQLZeroMQ
zeromq.server.0.threads=1
zeromq.server.0.qtype=pub
zeromq.server.0.port=5558
zeromq.server.0.iothreads=1
